body {
    background-color: white !important;
    background-image: url("images/background1.png") !important;
    background-size: auto 100vh; /* Fit the height while keeping the aspect ratio */
    background-position: center;
    background-repeat: repeat-x;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.results-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.result-item:last-child {
    border-bottom: none;
}

.highlight {
    color: blue;
    font-weight: bold;
}